body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  font-family: 'Indie Flower', cursive;
  background-color: #5af3fb;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.text-center {
  width: 100%;
  text-align: center;
}

.upcoming {
  background-color: #ffffff85;
  margin: 15% 0 0 0;
  padding: 1% 0 0 0;
}

.upcoming p {
  color: #0B3B60;
  font-size: 1.5em;
}

#timeout .text {
  color: #fff;
  text-shadow: 1px 1px 0px #000000;
  font-size: 5vh;
  margin-bottom: 0;
  line-height: 1em;
}

.countdown {
  z-index: 25;
  background-color: #ffffff85;
  position: relative;
  margin: 0;
  padding: 0% 15%;
}

.countdown .time {
  color: #fff;
  text-shadow: 1px 1px 0px #000000;
  font-size: 7vh;
  margin-bottom: 0;
  line-height: 1em;
}

.countdown .title {
  color: #fff;
  text-shadow: 1px 1px 0px #000000;
  font-size: 2vh;
  margin-bottom: 0;
  line-height: 1em;
}

.countdown span {
  display: inline-block;
  width: 2.5ch;
  word-break: keep-all;
}

.previous {
  background-color: #ffffff85;
  margin: 0;
  padding: 3% 0 1% 0;
}

.previous ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.previous li {
  float: left;
}

.previous p {
  margin: 0;
  padding: 5%;
}

.quote {
  margin: 15% 0 0 0;
  padding: 0;
}

.quote-content {
  background-color: #ffffff85;
  padding: 1%;
  text-align: center;
}

.quote-text {
  font-size: 2vh;
  color: #0B3B60;
  margin: 0;
}

#quote-refresh {
  color: #ffffff;
  z-index: 999;
}


#quote-refresh:hover:not(:active):not(:focus) {
  color: #ffffff;
}


#quote-refresh:hover {
  cursor: pointer !important;
}



/* ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 1.3em;
}

li:before {
  content: "\f13d";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
} */

.active {
  font-size: 2.5rem !important;
  color: #5af3fb !important;
  text-shadow: 1px 1px 0px #000000;
}

.archived {
  text-decoration: line-through;
  font-size: 1rem;
}

footer {
  position: fixed;
  height: auto;
  bottom: 0;
  width: 100%;
  z-index: 50;
}

.footer-container {
  height: auto;
  width: 100%;
  position: relative;
}

.corner {
  bottom: 0;
  right: 0;
  position: absolute;
}

/*Down-right pointing*/
.triangle-down-right {
  width: 100%;
  height: 0;
  padding-top: 40%;
  overflow: hidden;
}

.triangle-down-right:after {
  content: "";
  display: block;
  margin-top: -20vh;
  border-top: 40vh solid transparent;
  border-right: 60vh solid #ffffff9c;
}


.footer-logo {
  position: absolute;
  right: 14vh;
  bottom: 12vh;
}

.footer-logo img {
  width: auto;
  height: 10vh;
  padding: 0%;
  position: absolute;
}

/* @media (max-width: 1024px) {
  #quote-refresh {
    visibility: hidden;
  }
} */


/*
.meter { 
	height: 20px;
	position: relative;
  background: #5af3fb63;
  border: 1px solid #5af3fb;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
*/